[tool.poetry]
name = "taskiq-redis"
version = "0.0.2"
description = "Redis integration for taskiq"
authors = ["taskiq-team <taskiq@norely.com>"]


[tool.poetry.dependencies]
python = "^3.7"
taskiq = "^0"
redis = "^4.2.0"

[tool.poetry.dev-dependencies]
pytest = "^7.0"
flake8 = "^4.0.1"
mypy = "^0.961"
isort = "^5.10.1"
yesqa = "^1.3.0"
wemake-python-styleguide = "^0.16.1"
black = "^22.3.0"
autoflake = "^1.4"
pytest-cov = "^3.0.0"
anyio = "^3.6.1"
pytest-env = "^0.6.2"
fakeredis = "^1.8.1"
pre-commit = "^2.20.0"
pytest-xdist = {version = "^2.5.0", extras = ["psutil"]}

[tool.mypy]
strict = true
ignore_missing_imports = true
allow_subclassing_any = true
allow_untyped_calls = true
pretty = true
show_error_codes = true
implicit_reexport = true
allow_untyped_decorators = true
warn_return_any = false

[[tool.mypy.overrides]]
module = ['redis.asyncio']
ignore_missing_imports = true

[tool.isort]
profile = "black"
multi_line_output = 3

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
